# coding: utf-8
%h1 Значения показателя "#{@values[0].factor.name}" 
     
%style{:type => "text/css", :media => "screen"}
:javascript
  $(function(){
    new Highcharts.Chart({
      chart: {
        renderTo: "kpi_chart"
      },
      title: {
        text: "Динамика KPI"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Значения KPI"
        }
      },
      series: [{
        pointInterval: #{ 1.month * 1000},
        pointStart: #{ DateTime.parse(@values[0].calc_date.to_s).to_i * 1000}, 
        data: #{ 
          val = []
          for vv in @values do 
            val << vv.kpi 
          end  
          val}
      }]
    });
  });

%div{'id' => "kpi_chart", 'style'=> "width:560px; height:300px;"}
.content
  %table.data
    - for v in @values
      %tr
        %td= v.calc_date
        %td= v.kpi