# coding: utf-8
%h2 Оценка эффективности деятельности #{@performances[0].kpi_template.name+' '+@performances[0].division.name} 

.content
  %table.data
    %tr
      %th Блок
      %th Вес KPI
      %th Показатель
      %th Вес в группе
      %th Доля
      %th План
      %th Факт
      %th Процент выполнения
      %th KPI
    - for p in @performances
      %tr
        %td= p.block.short_name
        %td= p.block.weight*100 
        %td= p.factor.short_name
        %td= number_to_human(p.weight_factor.to_f*100)
        %td= p.rate
        %td= p.plan
        %td= p.fact
        %td= p.exec_percent
        %td= p.kpi
.actions
  =link_to 'Распечатать', :action => 'report_print', :division_id => @performances[0].division_id, :template_id => @performances[0].template_id, :format => 'pdf'
 